.phoneMainContainer{
    cursor: pointer;
    position: relative;
}

.phoneFlexContainer{
    align-items: center;
}

.phoneMain{
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
}

.iconContainer{
    margin-left: 4px;
}